{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "no-console": ["error", { "allow": ["log"] }],
    "arrow-body-style": ["error", "always"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "jsx-a11y/href-no-hash": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "react/jsx-no-bind": [2, {}]
  }
}
