name: Node CI Develop
on:
  push:
    branches:
      - develop
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: set up node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: check out code
        uses: actions/checkout@v2
      - name: get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: check yarn cache
        uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: rename config file
        run: mv src/common/utils/clientConfig.sample.ts src/common/utils/clientConfig.ts
      - name: install
        run: yarn install
      - name: lint
        run: yarn lint
      - name: tsc
        run: yarn tsc
      - name: unit tests
        run: yarn test-coverage
        env:
          CI: true
      - name: upload test coverage to codecov
        uses: codecov/codecov-action@v1.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build:
    needs: test
    runs-on: ubuntu-18.04
    env:
      DOCKER_BUILDKIT: "1"
    steps:
      - name: set up node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: check out code
        uses: actions/checkout@v2
      - name: login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: build ericdev docker image
        run: docker build -t dictybase/frontpage:ericdev-develop-$(git rev-parse --short HEAD) -f docker/eric-dev/Dockerfile .
      - name: push ericdev to docker hub
        run: docker push dictybase/frontpage:ericdev-develop-$(git rev-parse --short HEAD)
      - name: build devsidd docker image
        run: docker build -t dictybase/frontpage:devsidd-develop-$(git rev-parse --short HEAD) -f docker/sidd-dev/Dockerfile .
      - name: push devsidd to docker hub
        run: docker push dictybase/frontpage:devsidd-develop-$(git rev-parse --short HEAD)
